<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TesLKS.Properties.Settings.LKS_COMPUTER_SHOPConnectionString"
            connectionString="Data Source=MRXAZK\MSSQLSERVER01;Initial Catalog=LKS_COMPUTER_SHOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>